<div>
        <ul id="navbar">
            <li class="navItem">
                <a href="/">Home</a>
            </li>
            <li class="navItem">
                <a href="/apod"> NASA Pic a day</a>
            </li>
            <li class="navItem">
                <a href="/poke"> Random Pokemon</a>
            </li>
            <li class="navItem">
                <a href="/starwars"> Random StarWars Character</a>
            </li>
        </ul>
    </div>