<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>API Challenge</title>
</head>
<body id='body'>
    <div>
        <ul id="navbar">
            <p class="navItem">
                <a href="/apod"> NASA Pic a day</a>
            </p>
            <p class="navItem">
                <a href="/poke"> Random Pokemon</a>
            </p>
            <p class="navItem">
                <a href="/starwars"> Random StarWars Chracter</a>
            </p>
        </ul>
    </div>
    {{{body}}}
</body>
</html>