{{!-- <div id="navbar">
    <ul>
        <li>
            <a href="./apod.hbs"> NASA Pic a day</a>
        </li>
        <li>
            <a href="./poke.hbs"> Random Pokemon</a>
        </li>
        <li>
            <a href="./swapi.hbs"> Random StarWars Chracter</a>
        </li>
    </ul>
</div> --}}