#body {
    background-color: aqua;
    align-content: center;
    text-align: center;
}
#navbar {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}
.navItem {
    justify-content: space-evenly;
}
#navbar a {
    text-decoration: none;
    font-size: 15pt;
    color: black;
}